body{
    position: relative;
}
.wrapper{
    max-width: 100%;
}
#header{
    background-image: url("../img/background.png");
    height: auto;
    text-align: center;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.logo{
    font-size: 30px;
    font-family: MyriadPro-CondIt, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #00a8ff;
    font-style: italic;
    text-transform: uppercase;
}
.home{
    background: none;
}
.navbar-brand{
    color: #00a8ff;
}
.sidebar {
    font-family: Myriad Pro, sans-serif;
    font-size: 16px;

    color: #ffffff !important;
    /*border-bottom: 5px solid #0092ff; */
}
.active-menu {
    border-bottom:2px solid #00a8ff;
}
a {
    font-family:'Droid Sans', serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 50px;
}
.center{
    padding-top: 170px;
}
.center-header span{
    font-family: Open Sans, sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2.2px;
    text-align: center;
    color: #00a5ff !important;
    text-transform: uppercase;
}
.center-header p{
    margin-top: 20px;
    font-family: OpenSans;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
#section02 a {
    padding-top: 60px;
}
#section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
#section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
.bottom .circle {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid whitesmoke;
    margin: 150px auto 85px;
    border-radius: 50%;
    background: none;
}

.bottom .circle .arrow {
    color: #ffffff;
}
.filter{
    margin-top: 111px;
    width: 100%;
}
.filter-type p{
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2.2px;
    text-align: center;
    color: #222222 !important;
    text-transform: uppercase;
}
#content{
    margin-top: 30px;
    padding-top: 50px;
}
.content-top{
}
.content-top span{
    font-size: 34px;
    line-height: 1.09;
    letter-spacing: -0.7px;
    color: #222222;
    text-transform: uppercase;
}
.content-top p{
    margin: 31px auto;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: -0.7px;
    color: #6c6c6c;
}
.shape{
    width: 99px;
    height: 5px;
    background-color: #00a8ff;
    margin-top: 20px;
}
.characters-item{
    margin-top: 30px;
}
.content-bg{
    text-align: center;
    background-image: url('../img/img4.png');
    height: 350px;
    width: 350px;
    border-radius: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.content-button{
    margin-top: 31px;
}
.button{
    font-family: OpenSans;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    width: 192px;
    height: 45px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 10px;
}
.bg{
    background-image: url("../img/bg.jpg");
    margin-top: 101px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-item{
    padding-top: 100px;
}
.bg-item span{
    font-family: Open Sans, sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2.2px;
    text-align: center;
    color: #ffff !important;
    text-transform: uppercase;
}
.item-1{
    width: 99px;
    height: 5px;
    background-color: #00a8ff;
    margin: 10px auto;
    margin-top: 50px;
}
.item-2{
    width: 67px;
    height: 5px;
    background-color: #00a8ff;
    margin-top: 100px;
    margin: auto;
}
.bg{
    text-align: center;
}
.slick-dots ul {
    margin-bottom: 100px;
}
.slick-dots li {
    width: 9px !important;
    height: 9px !important;
    margin: 0 6px !important;
    background-color: white !important;
}

.slick-dots li button {
    width: 9px !important;
    height: 9px !important;
    background-color: white !important;
    padding: 4px;
}

.slick-dots li button:before {
    width: 9px !important;
    height: 9px !important;
    content: '' !important;
    background-color: #00a8ff !important;
}

.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li button:active,
.slick-dots li button:link,
.slick-dots li button:visited
{
    background-color: #00a8ff !important;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li button:active:before,
.slick-dots li button:link:before,
.slick-dots li button:visited:before
{
    opacity: 1;
    background: #00a8ff !important;
}
.image{
    background-image:url("../img/char3.png");
    width: 100%;
    height: 242.5px;
    width: 242.5px;
    margin-top: 25px auto;
    margin-top: 30px;
    border-radius: 50% 50%;
    background-position: top center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.image-1{
    background-image:url("../img/char2.png");
    width: 100%;
    height: 242.5px;
    width: 242.5px;
    margin-top: 25px auto;
    margin-top: 30px;
    border-radius: 50% 50%;
    background-position: top center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.image-2{
    background-image:url("../img/char4.png");
    width: 100%;
    height: 242.5px;
    width: 242.5px;
    margin-top: 25px auto;
    margin-top: 30px;
    border-radius: 50% 50%;
    background-position: top center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.test{
    margin-top: 20px;
}
.info{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}
.info span{
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff !important;
    text-transform: uppercase;
}
.info p{
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff !important;
   /*  margin-bottom: 168px; */
}
.crew{
    width: 100%;
    text-align: center;
}
.crew-header p{
    margin-top: 50px;
    font-family: Open Sans, sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2.2px;
    text-align: center;
    color: #222222 !important;
    text-transform: uppercase;
}
.crew-content p{
    margin-top: 30px;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #808080;
}
.item-1-crew{
    width: 99px;
    height: 5px;
    background-color: #00a8ff;
    margin: 10px auto;
}
.item-2-crew{
    width: 67px;
    height: 5px;
    background-color: #00a8ff;
    margin-top: 100px;
    margin: auto;
}
.crew-button{
    margin-top: 23px;
    width: 192px;
    height: 45px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: 0.3px;
    text-align: center;
    color: #222222 !important;
    text-transform: uppercase;
}
.novella{
    background-image: url("../img/bg-1.png");
    margin-top: 70px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
}
.nevolla-header{
    text-align: center;
}
.nevolla-header p{
    margin-top: 80px;
    font-family: Open Sans, sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2.2px;
    text-align: center;
    color: #ffff !important;
    text-transform: uppercase;
}
.novella-square{
    width: 100%;
    text-align: center;
}
.square{
    margin-top: 100px;
    width: 100%;
    width: 262.5px;
    height: 105px;
    background-color: #000000;
    border: solid 1px #3e3e3e;
    margin-right: 150px;
    text-align: center;
    margin-bottom: 100px;
}
.square p{
    width: 251px;
    height: 14px;
    font-family: OpenSans;
    font-size: 17.4px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #cbcbcb;
    text-align: center;
    width: auto;
    margin: 30px auto;
}
.seeworld{
    width: 100%;
    margin-top: 40px;
}
.seeworld-header{
    margin: auto;
    font-family: Open Sans, sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2.2px;
    text-align: center;
    color: #222222 !important;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.seeworld-header b{
    font-weight: 600;
}
.item-1-seeworld{
    width: 99px;
    height: 5px;
    background-color: #00a8ff;
    margin: 10px auto;
}
#text-style{
    font-weight: 300;
}
.seeworld{
    background-color: #ffffff;
}
.seeworld-content p{
    margin-top: 30px;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #808080;
}
.filter{
    margin-top: 100px;
    width: 100%;
}
.filter-type{
    text-align: left;
}
.filter-type p{
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    text-transform: uppercase;
}
.filter-character{
    text-align: right;
}
.filter-character b{
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #222222;
}
.filter-image{
    margin-top: 20px;
}
.filter_image-header{
    background-image: url("../img/char3.png");
    height: 252.5px;
}
.type-image{
    background-image: url("../img/char1.png");
    height: 252.5px;
    background-size: contain;
}
.type-image-2{
    background-image: url("../img/char2.png");
    height: 252.5px;
    background-size: contain;
}
.type-image-3{
    background-image: url("../img/filterrrr1.png");
    height: 252.5px;
    background-size: contain;
}
.bazzaar{
    background-image: url("../img/bazzarbg.png");
    margin-top: 10px;
    /* height: auto; */
    position: relative;
    width: 100%;
    text-align: center;
    /*táº¡o prallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bazzaar-header{
    margin-top: 40px;
}
.bazzaar-header p{
    font-family: Open Sans, sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2.2px;
    text-align: center;
    color: #ffff !important;
    text-transform: uppercase;
    padding-top: 50px;
}
.bazzaar-content p{
    padding-top: 20px;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
}
.contact{
    width: 100%;
}
.contact-header{
    margin-top: 100px;
}
.contact-header{
    font-family: Open Sans, sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2.2px;
    text-align: center;
    color: #222222 !important;
    text-transform: uppercase;
}
.contact-header p{
    margin-bottom: 30px;
}
.contact-header b{
    font-weight: 600;
}
.contact-content p{
    margin-top: 30px;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #808080;
}
.item-1-contact{
    width: 99px;
    height: 5px;
    background-color: #00a8ff;
    margin: 10px auto;
}
.item-2-contact{
    width: 67px;
    height: 5px;
    background-color: #00a8ff;
    margin-top: 100px;
    margin: auto;
}

 .footer{
    margin-top: 102px;
    padding: 30px 0;
    background-color: #222222;
}

.footer p {
    line-height: 30px;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #b2b2b2;
    margin: 0;
    /*float: left;*/
    float: left;
}

.footer p span {
    font-weight: bold;
}

.footer .social ul {
    float: right;
    margin: 0;
}

.footer .social a {
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 31px;
    color: #b2b2b2;
    border: 2px #b2b2b2 solid;
    border-radius: 50%;
}
.name{
    margin-top: 50px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #636363;
}
.email{
    margin-top: 50px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #636363;
}
.message{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #636363;
}
@media (min-width: 768px ) and (max-width: 992px) {
    .square p{
        font-size: 17px;
    }
    .image{
        height: 245px;
        width: 245px;
    }
    .navbar-collapse{
        font-size: 13px;
    }
    .square{
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .filter_image-header{
        height: 302.5px;
    }
    .type-image-3 {
        height: 302.5px;
        background-size: contain;
    }
    .type-image {
        height: 302.5px;
        background-size: contain;
    }
}
@media (max-width: 768px) {
    /*.section{*/
        /*margin-top: 100px;*/
    /*}*/
    /*.stt{*/
        /*margin-top: 200px;*/
    /*}*/
    .content-button{
        text-align: center;
    }
    .content-bg {
        margin-top: 50px;
    }
    .content-p1{
        margin-top: 30px;
    }
    .content-bg{
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .image{
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-position: top center;
        border-radius: 50% 50%;
    }
    .item-1{
        margin-top: 100px;
    }
    .item-2{
        margin-bottom: 30px;
    }
    .square{
        margin-top: 10px;
        width: 100%;
        width: 262.5px;
        height: 105px;
        background-color: #000000;
        border: solid 1px #3e3e3e;
        margin-right: auto;
        margin-left: auto;
        display: block;
        text-align: center;
    }
    .square p{
        width: 251px;
        height: 14px;
        font-family: OpenSans;
        font-size: 20.4px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #cbcbcb;
        text-align: center;
        width: auto;
        margin: 30px auto;
    }
    .novella{
        margin-top: 30px;
    }
    .filter-character{
        text-align: center;
        margin-top: 10px;
    }
    .filter-type p{
        text-align: center;
    }
    .item-1-contact{
        width: 99px;
        height: 5px;
        background-color: #00a8ff;
        margin: 10px auto;
    }
    .item-2-contact{
        width: 67px;
        height: 5px;
        background-color: #00a8ff;
        margin-top: 100px;
        margin: auto;
    }
    .filter_image-header{
        height: 147.5px;
        background-size: center;
    }
    .type-image{
        height: 147.5px;
    }
    .type-image-2{
        height: 147.5px;
    }
    .type-image-3{
        height: 147.5px;
    }
    .footer p{
        text-align: center !important;
        margin-top: 7px;
    }
    .footer .social ul{
        float: none;
        text-align: center !important;
    }
    .shape{
        margin: 20px auto;
    }
    .active-menu{
        border-bottom-style: none;
    }
}